/* 
	Custom CSS for kasteeldehaar
*/

.navbar-custom .navbar-brand {
	color: #B0003E !important;
}

#portal-logo {
	width: 88px;
	height: auto;
	background-color: #B0003E;

	@media (max-width: 768px) {
		width: 70px;

		img {
			content: url('++resource++plonetheme.kasteeldehaar/logo-glyph.svg') !important;
		}
	}

	img {
		width: inherit;
		height: auto;
		cursor: inherit;
		z-index: inherit;
	}
}

#nav-logo {
  width: 88px;

  @media (max-width: 768px) {
    width: 70px;
    content: url('++resource++plonetheme.kasteeldehaar/logo-glyph.svg') !important;
  }
}

.cd-nav-trigger {
  background-color: #B0003E;
}


.cd-nav {
  background-color: #B0003E;
}

