/* 
	Custom CSS for kasteeldehaar
*/

body {
	overflow-y: hidden;
}

.navbar-custom .navbar-brand {
	color: @kasteelColor !important;
}

#portal-logo {
	width: 112px;
	height: 190px;
	background-color: @kasteelColor;
	z-index: 4;
	right: 50%;
	opacity: 1;
	margin-right: -49px;

	img {
		height: 190px;
	}

	@media (max-width: 768px) {
		img {
			content: initial !important;
		}
	}
}

#nav-logo {
  display: none;
}

.cd-nav-trigger {
  background-color: @kasteelColor;
}

.cd-nav {
  background-color: @kasteelColor;
}

.buttonFieldK() {
	.ptSans();
	margin: 0 auto;
	display: block;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 13px;
	border: 0px;
	border-radius: 4px;
	text-transform: uppercase;
	height: 55px;
	color: #ffffff;
	width: auto;
	font-size: 15px;
	background-color: #ab0840;
	text-shadow: 0px 0px 0px #ffffff;
	font-weight: 800;
	letter-spacing: 0.14em;

	&:active:focus,
	&:focus {
		color: #ffffff;
	}

	&:hover {
		background: #920027;
	}
}

.inputFieldK() {
	.ptSans();
	padding: 15px;
	padding-left: 30px;
	padding-top: 15px;
	border: 0px;
	border-radius: 0px;
	font-size: 15px;
	height: 55px;
	color: #595959;
	letter-spacing: 0.14em;
	text-shadow: 0px 0px 0px #ffffff;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	outline: 0px;
	outline-offset: 0px;
	font-weight: 800;

	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	&:active:focus {
		outline: none;
		outline: 0px;
		outline-offset: 0px;
	}

	border: 1px solid #f2f2f2;
}

.listStyles() {
	ol li, ul li {
    	.ptSans();
    	letter-spacing: 0.01em;
    	color: #5e5e5e;
    	font-size: 21px;
    	padding-left: 8px;
    }

    ul, ol {
    	letter-spacing: 0.01em;
    	font-size: 22px;
    	margin-left: -21px;
    }

    ol {
    	margin-left: -16px;
    }

    ul ul {
    	list-style-type: disc;
    }
}

.documentLayoutK() {
	h1 {
		color: #ab0840;
		font-size: 34px;
		.ptSerif();
	}

	h2 {
		.ptSans();
		font-size: 30px;
		font-weight: 800;
		color: @textColor;
	}

	h3 {
		.ptSans();
		font-weight: 800;
		font-size: 27px;
		color: @textColor;
	}

	h4 {
		.ptSans();
		font-weight: 800;
		font-size: 23px;
		color: @textColor;
	}

	h5 {
		.ptSans();
		font-weight: 800;
		font-size: 22px;
		color: @textColor;
	}

	h6 {
		.ptSans();
		font-weight: 800;
		font-size: 21px;
		color: @textColor;
	}

	p {
		.ptSans();
		font-size: 21px;
		color: @textColor;
		letter-spacing: 0.01em;

		strong {
			.ptSans();
			font-size: 21px;
			color: @textColor;
			font-weight: 800;
			letter-spacing: 0.01em;
		}
	}

	blockquote p {
		font-size: 32px;
		.ptSerif();
		font-style: italic;
		margin-top: 40px;
		margin-bottom: 50px;
	}
}

body.frontend {
	color: #595959;
}

/* Single content page */
body.frontend, body#tinymce {
	.ptSans();
	font-size: 21px;

	.title-container {
		padding-top: 45px;

		@media (max-width: 768px) {
			padding-top: 25px;
		}

		@media (min-width: 768px) {
			width: 700px;
		}

		h1 {
			color: #ab0840;
			margin-bottom: 22px;
			font-size: 34px;
			.ptSerif();
		}

		.subheading {
			color: #c85c81;
			font-size: 23px;
			.ptSerif();
		}

		.separator-wrapper {
			margin-left: 0px;
			margin-top: 60px;
			margin-bottom: 25px;

			@media (max-width: 768px) {
			    margin-top: 40px;
				margin-bottom: 10px;
			}
		}
	}

	&:not(.portaltype-document):not(.portaltype-collection):not(.portaltype-folder):not(.portaltype-formfolder):not(.portaltype-event) .separator-wrapper {
		display: none;
	}

	&.template-logged_out,
	&.template-default_error_message,
	&.template-login_form {
		.separator-wrapper {
			display: none !important;
		}
	}

	&.template-login_form #content-core, 
	&.template-logged_out #content-core {
		padding: 6px 12px !important;
	}

	.separator-wrapper {
		hr {
			color: #cd738b;
			height: 1px;
			border: 0;
			border-top: 1px solid #cd738b;
			margin-left: 0px;
			text-align: left;

			@media (min-width: 768px) {
				width: 140px;
			}

			@media (max-width: 768px) {
				margin-top: 20px;
				margin-bottom: 0px;
			}
		}
	}

	.documentLayoutK();

	&.mce-content-body,
    div#parent-fieldname-text {
    	.documentLayoutK();

    	div {
			.ptSans();
	    	font-size: 22px;
	    	letter-spacing: 0.01em;
	    	color: #5e5e5e;
		}
    	
    	h1, h3, h4, h5, h6 {
			margin-bottom: 45px;
			margin-top: 60px;
		}

		h2 {
			margin-top: 55px;
			margin-bottom: 45px;
		}

    	.listStyles();

		table {
			margin-top: 45px;
			width: 900px;
			max-width: 900px;
		}

		table tr:nth-child(even) {
			background: #f5f5f5;
		}

		table tr:nth-child(odd) {
			background: #ffffff;
		}

		table td {
			padding: 0;
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 3px;
			line-height: 55px;
			.ptSans();
			font-size: 21px;
			letter-spacing: 0.01em;
		}

		table tr:first-child td {
			.ptSans();
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 0.03em;
			color: #4c4c4c;
			font-weight: 800;
		}

		@media (min-width: 1049px) {
			.table-responsive {
				overflow-x: initial;
			}
		}

		img.image-inline {
			margin-top: 50px;
		}

		hr:not(.separator) {
			margin: 2.3em 0;
		}

		ul, ol {
    		margin-top: 30px; /* same margin top as a paragraph */
    		margin-bottom: 30px;
    	}

    	ul ul, ol ol {
    		margin-top: initial; /* same margin top as a paragraph */
    		margin-bottom: initial;
    	}
    }
}

/* Events */
body.frontend {
	&.portaltype-event .event-date {
		.ptSans();
		font-size: 30px;
		font-weight: 800;
	}
}

/* Footer */
footer {
	.documentLayoutK();
	.listStyles();

	div {
		.ptSans();
    	font-size: 22px;
    	letter-spacing: 0.01em;
    	color: #5e5e5e;
	}

	ul {
		color: #929292;
		margin-left: -40px;
		list-style-type: none;

		li {
			color: #929292;
			padding-left: 0px;
			margin-bottom: 10px;
		}
	}
}

footer {
	a {
		color: #929292;
	}

	div.portlet-static-footer {

		a:hover,
		a:active,
		a:focus,
		a:visited {
			color: #929292;
		}

		background-color: #ffffff;

		li a {
			color: #929292;
			font-size: 20px;
		}

		p {
			margin-bottom: 30px;
			a {
				color: #595959;
				font-size: 23px;
				font-weight: 800;
				.ptSans();

				&:hover,
				&:active,
				&:focus,
				&:visited {
					color: #595959;
				}
			}
		}
	}

	.footer-wrapper {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.social-media-wrapper {
		padding-top: 50px;
		padding-bottom: 75px;

		p strong {
			.ptSans();
			color: #ffffff;
			font-size: 23px;
		}

		li a {
			color: #ffffff;
			font-size: 20px;
			&:hover,
			&:active,
			&:focus,
			&:visited {
				color: #ffffff;
			}
		}

		ul li {
			color: #ffffff;
			font-size: 20px;
		}
	}

	.portlet-static-social-media {
		background-color: #ab0840;
	}

	#wat-een-weelde-background {
		padding-top: 50px;
		padding-bottom: 50px;

		img {
			width: 100%;
		}
	}

	#bottom-background {
		width: 110px;
	    height: 50px;
	    background: url('++resource++plonetheme.kasteeldehaar/footer-element-04.svg');
	    margin: 0 auto;
	}

	@media(min-width: 768px) {
		#wat-een-weelde-background {
			width: 700px;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}
	}
}


/* Mailchimp */
.portletMailChimp {
	background-color: #f2f2f2;

	.formControls input:not(.btn) {
		.buttonFieldK();
	}

	input[type="text"]:not(.btn),
	input[type="button"]:not(.btn),
	input[type="password"]:not(.btn) {
		.inputFieldK();
	}

}

.portletMailChimp.portlet .portletHeader {
	padding-bottom: 20px;
}

.portletMailChimp.portlet .portletHeader span {
    font-size: 21px;
    color: #929292;
    .ptSans();
}

/* Buttons */
body.frontend, body#tinymce {
	/* Form controls */
	.formControls input:not(.btn) {
		.buttonFieldK();
	}

	.portletCollection {
		.show-more {
			.buttonFieldK();
			width: 170px;
		}
	}

	input[type="text"]:not(.btn),
	input[type="button"]:not(.btn),
	input[type="password"]:not(.btn) {
		.inputFieldK();
	}

	&.portaltype-formfolder {
		.floating-label-form-group {
			padding-bottom: 0;

			textarea {
				.inputFieldK();
				height: auto;
			}
		}
	}
}

.portlet-button, body#tinymce .portlet-button  {
	.buttonFieldK();
	color: #ffffff;
	text-decoration: none;
	width: 200px;

	&:hover {
		color: #ffffff;
		text-decoration: none;
	}

	&:active,
	&:focus {
		color: #ffffff;
	}
}

body.frontend.template-search {
	#search-filter-toggle {
		.buttonFieldK();
	}

	input.search-btn {
		.buttonFieldK();
	}
}

/* Multiple content page */

body.frontend {

	p.event-date {
		font-size: 18px;
		color: #929292;
	}

	&.portaltype-collection,
	&.portaltype-folder,
	.portletCollection {
		.title-container hr {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		.listing-item {
			padding-bottom: 20px;
		}

		.item-description {
			margin-top: 23px;
		}

		p.event-date {
			font-size: 18px;
			color: #929292;
		}

		.listing-item a {
			color: #595959;
		}

		.title-container .separator-wrapper {
			margin-bottom: 80px;
		}

		.thumb-wrapper img {
			margin-bottom: 25px;
		}

		@media (max-width: 768px) {
			footer {
				padding-top: 0px;
			}
		}

		.separator-wrapper {
			hr {
				@media (min-width: 768px) {
					width: 140px;
				}

				@media (max-width: 768px) {
					margin-top: 20px;
					margin-bottom: 0px;
					width: 200px;
				}
			}

			@media(max-width: 768px) {
				margin-top: 50px !important;
				margin-bottom: 60px !important;
			}
		}
	}
}

body.frontend.template-default_error_message div.portlet-static-footer a:hover, 
body.frontend.template-default_error_message div.portlet-static-footer a:active, 
body.frontend.template-default_error_message div.portlet-static-footer a:focus {
    color: #929292;
}


body.frontend.template-default_error_message div.portlet-static-footer p a:hover, 
body.frontend.template-default_error_message div.portlet-static-footer p a:active, 
body.frontend.template-default_error_message div.portlet-static-footer p a:focus {
    color: #595959;
    text-decoration: none;
}

body.frontend.template-default_error_message .social-media-wrapper a:hover {
	color: #ffffff;
}

.template-default_error_message {
	#content-core > nav {
		padding-top: 30px;
	}
}

/* Front page */
.portlet-button {
	.buttonFieldK();
}

body.frontend {

	.portlet-static-online-tickets,
	.portlet-weekday {
		@media (max-width: 768px) {
			padding-top: 20px;
		}

	}
	.portlet-static-online-tickets .portlet-button,
	.portlet-weekday .portlet-button {
		.buttonFieldK();
		line-height: 27px;
		width: 200px;
		@media (min-width: 768px) {
			margin-right: 0;
		}
	}

	.portlet-static-online-tickets p,
	.portlet-weekday p {
		line-height: 55px;
		margin-bottom: 0px;
		margin-top: 0px;

		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 10px;
		}
	}
}

body.frontend {
	&.portaltype-portlet-page {
		.documentLayoutK();
		h1 {
			font-size: 42px;
		}
		.portletCollection {
			.show-more {
				.buttonFieldK();
				width: 200px;
			}
			padding-bottom: 5px;
			padding-top: 40px;

			@media (max-width: 768px) {
				padding-top: 10px;
				padding-bottom: 5px;
			}
		}

		footer {
			border-top: 1px solid #c8c8c8;
		}
	}

	.portletCollection {
		hr.separator {
			margin: 0 auto;

			@media (min-width: 768px) {
				width: 200px;
			}
		}

		.portletFooter {
			padding-right: 0px;
		}

		.formControls a {
			width: 200px;
			display: block;
			margin: 0 auto;
			padding-bottom: 45px;
		}

		.item-title a {
			color: #595959;

			&:active,
			&:focus,
			&:visited,
			&:hover {
				color: #595959;
			}
		}
	}

	.social-media-wrapper {
		p strong {
			color: #ffffff;
		}
	}

	.portletCollection.portlet-collection-ontdek-de-haar {
		padding-top: 0px;

		@media (max-width: 768px) {
			.portletHeader {
				padding-top: 1px;
			}
		}
	}
}

/* Contact form */
body.frontend, body#tinymce {
	&.portaltype-formfolder {

		hr.separator {
			margin: 0 auto;
		}

		.floating-label-form-group input[type="text"],
		.floating-label-form-group input[type="password"] {
			height: 55px;
		}

		.floating-label-form-group input[type="text"],
		.floating-label-form-group input[type="password"],
		.floating-label-form-group textarea {
			border-radius: 4px;
			border: 1px solid #c8c8c8;
		}

		&:not(.template-quickedit) #content .field {
			margin-bottom: 0px;
		}
	}
}

body.frontend.mobile {
	input[type='text'],
	input[type='number'],
	textarea {
	  font-size: 16px;
	}
}


/* Search results */
body.frontend.template-search {
	#search-filter-toggle {
		display: none;
	}

	p.event-date {
		.ptSans();
		font-size: 18px;
		color: #929292;
		margin-bottom: 15px;
    	margin-top: 15px;
	}

	h4.item-title span.highlightedSearchTerm {
		font-weight: 800;
		color: #000000;
	}

	h4.item-title {
		margin-top: 10px;
	}

	input.search-btn {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	#search-results-wrapper .search-item a {
		&:hover,
		&:active,
		&:visited,
		&:focus {
			color: #595959;

			h4.item-title {
				color: #595959;
			}
		}
	}
}

body.frontend.template-default_error_message {

	.intro-header {
		display: none;
	}

	.page-container {
		padding-top: 150px;

		@media (max-width: 768px) {
			padding-top: 80px;
		}
	}

	h4.item-title {
		margin-top: 10px;
	}

	h4.item-title span.highlightedSearchTerm {
		font-weight: 800;
		color: #000000;
	}

	.similar-item a {
		&:hover,
		&:active,
		&:visited,
		&:focus {
			color: #595959;

			h4.item-title {
				color: #595959;
			}
		}

	}

	@media (min-width: 768px) {
		#content-core {
		    width: 700px !important;
		    margin: 0 auto !important;
		}
	}
}

body.frontend {
	@media (max-width:768px) {
		.video-play-btn,
		.video-slide .overlay-image {
			display: none;
		}
	}

	@media (max-width: 468px) {
		.slick-prev,
		.slick-next,
		.wrap-prev,
		.wrap-next {
			display: none;
		}
	}
}

/* TOP MENU */
.cd-nav-trigger {
	background: url('++resource++plonetheme.kasteeldehaar/logo-menu.svg');
	width: 112px;
	height: 70px;
	left: 50%;
	margin-left: -63px;
	z-index: 3;
	cursor: pointer;
}

.plone-toolbar-expanded .cd-nav-trigger {
	left: 50%;
}

#portal-logo.hide-logo {
	opacity: 0;
	/*-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-ms-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;*/
  	pointer-events:none;
}

.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

body:not(.frontend) {
	.cd-nav-trigger {
		margin-left: -10px;

		.cd-nav-icon {
			display: none;
		}

		svg {
			display: none;
		}

		rect {
			display: none;
		}
	}
}

.cd-nav .cd-primary-nav {
	.line-wrapper > li > a {
		.ptSans();
		font-size: 27px;
		font-weight: 800;
		letter-spacing: 0.01em;
	}

	.line-wrapper > li {
		border-top: 0px;
	}

	a {
		.ptSans();
		font-size: 21px;
	}

	.line-wrapper > li > a {
		margin-bottom: 30px;
	}
}

#cd-nav {
	.language-wrapper a.lang-link {
		font-size: 15px;
		.ptSans();
	}

	@media (min-width: 768px) {
		.language-wrapper {
			right: 50px;
		}
	}
}

@media (min-width: 992px) {
	.cd-navigation-wrapper .main-block {
    	padding-top: 250px;
	}
}

.cd-nav .cd-navigation-wrapper {
	-webkit-transform: none;
  	-moz-transform: none;
  	-ms-transform: none;
  	-o-transform: none;
  	transform: none;
}

.navigation-is-open .cd-nav .cd-navigation-wrapper {
  	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.navigation-is-open .website-wrapper {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

@media (max-width: 992px) {
	#cd-nav .navigation-search-wrapper {
	    padding-top: 110px;
	}

	#cd-nav .cd-primary-nav {
		margin-top: 40px;
	}
}

body:not(.frontend) {
	@media (min-width: 768px) {
		.intro-header .site-heading, 
		.intro-header .post-heading, 
		.intro-header .page-heading {
		    padding-top: 180px;
		}
	}

	.cd-nav-trigger {
		display: none;
	}
}














