/* bundle less file that will be compiled into kasteeldehaar-compiled.css */

/* Variables */

.ptSans() {
    font-family: 'PT Sans', Arial, sans-serif;
}

.ptSerif() {
    font-family: 'PT Serif', Arial, sans-serif;
}

@kasteelColor: #B0003E;
@textColor: #595959;

/* include our custom less */
@import "custom.less";
